@using Itau.Common
@model List<Itau.Models.NossoTime>

<div class="container bg-light">

    <div class="row">
        <div class="col-md">
            @Html.ActionLink("Voltar", "EditarSquad", "Config", new { equipe = ViewBag.equipe }, new { @class = "btn btn-primary mt-2 mb-4" })
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h3>Nosso Time</h3>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Nome</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Papel</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Ausência</span>
                    </div>
                    <div class="col-sm-3">
                        <span></span>
                    </div>
                </div>

                @foreach (Itau.Models.NossoTime item in Model)
                {
                    <div class="row" data-id="@item.Id">
                        <div class="col-sm-3">
                            <span data-nome="@item.Nome">@item.Nome</span>
                        </div>

                        <div class="col-sm-3">
                            <span data-tipopapel="@item.TipoPapel">@item.TipoPapel.GetDescription()</span>
                        </div>
                        <div class="col-sm-3">
                            <span data-ausencia="@item.Ausencia">@item.Ausencia</span>
                        </div>

                        <!--Campos ocultos-->
                        <div style="display:none;">
                            <span data-principal="@item.Principal">@item.Principal</span>
                        </div>
                        <div style="display:none;">
                            <span data-papel="@item.Papel">@item.Papel</span>
                        </div>


                        <div class="col-sm-3">
                            <input type="button" class="btn btn-primary mb-1" value="Editar" onclick="javascript:CopiarEdicao('@item.Id')" />
                            @Html.ActionLink("X", "ExcluirNossoTime", "Config", new { equipe = ViewBag.equipe, id = item.Id }, new { @class = "btn btn-primary mb-1" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md">
            <h3>Novo Item</h3>

            @using (Html.BeginForm("CriarEditarNossoTime",
                "Config",
                new { equipe = ViewBag.equipe },
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">

                    <input type="hidden" name="Id" />

                    <label for="Nome">Nome</label>
                    <input type="text" name="Nome" class="form-control" placeholder="Nome" />

                    <label for="Principal">Apelido</label>
                    <input type="text" name="Principal" class="form-control" placeholder="Apelido" />

                    <label for="TipoPapel">Tipo de Papel</label>
                    <select class="form-control" name="TipoPapel">
                        <option value="PO">Product Owner</option>
                        <option value="TL">Team Lead</option>
                        <option value="Tcl">Tech Lead</option>
                        <option value="Tm">Team Member</option>
                    </select>

                    <label for="Papel">Descrição Papel</label>
                    <input type="text" name="Papel" class="form-control" placeholder="Descrição Papel" />

                    <label for="Ausencia">Ausência</label>
                    <select class="form-control" name="Ausencia">
                        <option value=""></option>
                        <option value="Férias">Férias</option>
                        <option value="Maternidade">Maternidade</option>
                        <option value="Licença">Licença</option>
                    </select>

                    <label for="UrlImagem">Url Imagem</label>
                    <input type="file" name="UrlImagem" class="form-control-file" accept=".png" />

                    <button type="submit" value="submit" class="btn btn-primary mt-2">Salvar</button>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-warning mt-2" role="alert">
                            Erro ao criar Sigla: @Html.ValidationMessage("Error")
                        </div>
                    }
                </div>
            }


        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        function CopiarEdicao(id) {
            var nossoTime = {};

            if (id != "" && id != undefined) {
                var itemUpdate = $(".row[data-id='" + id + "']");

                nossoTime.Id = id;
                nossoTime.Nome = itemUpdate.find("span[data-nome]").data("nome");
                nossoTime.Principal = itemUpdate.find("span[data-principal]").data("principal");
                nossoTime.TipoPaPel = itemUpdate.find("span[data-tipopapel]").data("tipopapel");
                nossoTime.Ausencia = itemUpdate.find("span[data-ausencia]").data("ausencia");
                nossoTime.Papel = itemUpdate.find("span[data-papel]").data("papel");

                console.log(nossoTime);

                //popula campos
                $("input[name='Id']").val(nossoTime.Id);
                $("input[name='Nome']").val(nossoTime.Nome);
                $("input[name='Principal']").val(nossoTime.Principal);
                $("select[name='TipoPapel']").val(nossoTime.TipoPaPel);
                $("select[name='Ausencia']").val(nossoTime.Ausencia);
                $("input[name='Papel']").val(nossoTime.Papel);               
            }
        }

    </script>

}
