@using Itau.Common
@model List<Itau.Models.Slide>

<div class="container bg-light">

    <div class="row">
        <div class="col-md">
            @Html.ActionLink("Voltar", "EditarSquad", "Config", new { equipe = ViewBag.equipe }, new { @class = "btn btn-primary mt-2 mb-4" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h3>Slides</h3>

            <div class="container">
                <div class="row">                  
                    <div class="col-sm-4">
                        <span class="font-weight-bold">Nome</span>
                    </div>
                    <div class="col-sm-4">
                        <span class="font-weight-bold">Tipo</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Tempo</span>
                    </div>
                    <div class="col-sm-1">
                        <span></span>
                    </div>
                </div>

                @foreach (Itau.Models.Slide item in Model)
                {
                <div class="row" data-id="@item.Id">                    
                    <div class="col-sm-4">
                        <span data-nome="@item.Nome">@item.Nome</span>
                    </div>
                    <div class="col-sm-4">
                        <span data-tipo="@item.Tipo">@item.Tipo.GetDescription()</span>
                    </div>
                    <div class="col-sm-3">
                        <span data-tempo="@item.Tempo">@item.Tempo</span>
                    </div>

                    <!-- campo oculto -->
                    <div style="display:none;">
                        <span data-conteudo="@item.Conteudo">@item.Conteudo</span>
                    </div>

                    <div class="col-sm-1">
                        <input type="button" class="btn btn-primary mb-1" value="Editar" onclick="javascript:CopiarEdicao('@item.Id')" />
                        @Html.ActionLink("X", "ExcluirSlide", "Config", new { equipe = ViewBag.equipe, idSlide = item.Id }, new { @class = "btn btn-primary mb-1" })
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-md-5">
            <h3>Novo Item</h3>

            @using (Html.BeginForm("CriarEditarSlide",
                "Config",
                new { equipe = ViewBag.equipe },
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
            {
            <div class="form-group">

                <input type="hidden" name="Id" />

                <label for="Nome">Nome</label>
                <input type="text" name="Nome" class="form-control" placeholder="Nome" />

                <label for="Tipo">Tipo</label>
                <select id="Tipo" class="form-control" name="Tipo">
                    <option value="Imagem">Imagem</option>
                    <option value="Video">Vídeo</option>
                    @*<option value="3">Literal</option>*@
                    <option value="GestaoVisual">Gestão Visual</option>
                    <option value="Embed">Embed</option>
                </select>

                <label for="Tempo">Tempo</label>
                <input type="number" name="Tempo" class="form-control" placeholder="Tempo de transição em ms" />

                <label for="Conteudo">Conteúdo</label>
                <input id="Conteudo" type="file" name="Conteudo" class="form-control" placeholder="Conteúdo" accept=".png" />

                <button type="submit" value="submit" class="btn btn-primary mt-2">Salvar</button>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-warning mt-2" role="alert">
                        Erro ao criar Ausência: @Html.ValidationMessage("Error")
                    </div>
                }
            </div>
            }


        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">

        $("#Tipo").change(function () {
            var opcaoSelecionada = $(this).val();
            switch (opcaoSelecionada) {
                case "Imagem":
                    {                       
                        $("#Conteudo").attr("type", "file");
                        $("#Conteudo").attr("accept", ".png");
                        $("#Conteudo").show();
                        
                        break;
                    }
                case "Video":
                    {   
                        $("#Conteudo").attr("type", "file");
                        $("#Conteudo").attr("accept", ".mp4");
                        $("#Conteudo").show();
                        break;
                    }
                case "GestaoVisual":
                    {   
                        $("#Conteudo").removeAttr("accept");
                        $("#Conteudo").hide();
                        break;
                    }
                case "Embed":
                    {
                        $("#Conteudo").attr("type", "text");
                        $("#Conteudo").attr("placeholder", "Insira o link");
                        $("#Conteudo").removeAttr("accept");
                        $("#Conteudo").show();                        
                        break;
                    }
                default:
                    {
                        break;
                    }
            }


        });

        function CopiarEdicao(id) {
            var slide = {};

            if (id != "" && id != undefined) {
                var itemUpdate = $(".row[data-id='" + id + "']");

                slide.Id = id;
                slide.Nome = itemUpdate.find("span[data-nome]").data("nome");
                slide.Tipo = itemUpdate.find("span[data-tipo]").data("tipo");
                slide.Tempo = itemUpdate.find("span[data-tempo]").data("tempo");
                slide.Conteudo = itemUpdate.find("span[data-conteudo]").data("conteudo");

                //popula campos
                $("input[name='Id']").val(slide.Id);
                $("input[name='Nome']").val(slide.Nome);
                $("select[name='Tipo']").val(slide.Tipo).trigger("change");               

                $("input[name='Tempo']").val(slide.Tempo);

                if (slide.Tipo == "Embed") {
                    $("input[name='Conteudo']").val(slide.Conteudo);
                }
            }
        }


    </script>

}


