@using Itau.Common
@model List<Itau.Models.AusenciaProgramada>

<div class="container bg-light">

    <div class="row">
        <div class="col-md">
            @Html.ActionLink("Voltar", "EditarSquad", "Config", new { equipe = ViewBag.equipe }, new { @class = "btn btn-primary mt-2 mb-4" })
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h3>Ausência Programada</h3>

            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Nome</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Data</span>
                    </div>
                    <div class="col-sm-3">
                        <span class="font-weight-bold">Motivo</span>
                    </div>
                    <div class="col-sm-3">
                        <span></span>
                    </div>
                </div>

                @foreach (Itau.Models.AusenciaProgramada item in Model)
                {
                    <div class="row" data-id="@item.Id">
                        <div class="col-sm-3">
                            <span data-nome="@item.Nome">@item.Nome</span>
                        </div>
                        <div class="col-sm-3">
                            <span data-data="@item.Data.ToString("dd-MM-yyyy")">@item.Data.ToString("dd-MM-yyyy")</span>
                        </div>
                        <div class="col-sm-3">
                            <span data-motivo="@item.Motivo">@item.Motivo</span>
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class="btn btn-primary mb-1" value="Editar" onclick="javascript:CopiarEdicao('@item.Id')" />
                            @Html.ActionLink("X", "ExcluirAusencias", "Config", new { equipe = ViewBag.equipe, id = item.Id }, new { @class = "btn btn-primary mb-1" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md">
            <h3>Novo Item</h3>

            @using (Html.BeginForm("CriarEditarAusencias",
                "Config",
                new { equipe = ViewBag.equipe },
                FormMethod.Post))
            {
            <div class="form-group">

                <input type="hidden" name="Id" />

                <label for="Nome">Nome</label>
                <input type="text" name="Nome" class="form-control" placeholder="Nome" />

                <label for="Data"></label>
                <input type="text" id="datepicker" name="Data" class="form-control" placeholder="Data" />

                <label for="Motivo">Motivo</label>
                <input type="text" name="Motivo" class="form-control" placeholder="Motivo" />

                <button type="submit" value="submit" class="btn btn-primary mt-2">Salvar</button>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-warning mt-2" role="alert">
                        Erro ao criar Ausência: @Html.ValidationMessage("Error")
                    </div>
                }
            </div>
            }


        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#datepicker").datepicker();
        });


        function CopiarEdicao(id) {
            var ausencia = {};

            if (id != "" && id != undefined) {
                var itemUpdate = $(".row[data-id='" + id + "']");

                ausencia.Id = id;
                ausencia.Nome = itemUpdate.find("span[data-nome]").data("nome");
                ausencia.Data = itemUpdate.find("span[data-data]").data("data");
                ausencia.Motivo = itemUpdate.find("span[data-motivo]").data("motivo");              

                //popula campos
                $("input[name='Id']").val(ausencia.Id);
                $("input[name='Nome']").val(ausencia.Nome);
                $("input[name='Data']").val(ausencia.Data);
                $("input[name='Motivo']").val(ausencia.Motivo);              
            }
        }


    </script>

}