@using Itau.Common
@model List<Itau.Models.Sigla>


<div class="container bg-light">

    <div class="row">
        <div class="col-md">
            @Html.ActionLink("Voltar", "EditarSquad", "Config", new { equipe = ViewBag.equipe }, new { @class = "btn btn-primary mt-2 mb-4" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <h3>Siglas</h3>

            <div class="container">
                <div class="row">
                    <div class="col-sm-5">
                        <span class="font-weight-bold">Sigla</span>
                    </div>
                    <div class="col-sm-5">
                        <span class="font-weight-bold">Tipo</span>
                    </div>
                    <div class="col-sm-2">
                        <span></span>
                    </div>
                </div>

                @foreach (Itau.Models.Sigla item in Model)
                {
                    <div class="row" data-id="@item.Id">
                        <div class="col-sm-5">
                            <span data-codsigla="@item.CodSigla">@item.CodSigla</span>
                        </div>
                        <div class="col-sm-5">
                            <span data-tipo="@item.Tipo">@item.Tipo.GetDescription()</span>
                        </div>
                        <div class="col-sm-2">
                            <input type="button" class="btn btn-primary mb-1" value="Editar" onclick="javascript:CopiarEdicao('@item.Id')" />
                            @Html.ActionLink("X", "ExcluirSigla", "Config", new { equipe = ViewBag.equipe, id = item.Id }, new { @class = "btn btn-primary mb-1" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-5">
            <h3>Nova Sigla</h3>

            @using (Html.BeginForm("CriarEditarSigla", "Config", new { equipe = ViewBag.equipe }, FormMethod.Post))
            {
                <div class="form-group">
                    <input type="hidden" name="Id" />

                    <label for="Nome">Código da Sigla</label>
                    <input type="text" name="CodSigla" class="form-control" placeholder="Código da Sigla" />

                    <label for="Tipo">Tipo da Sigla</label>
                    <select class="form-control" name="Tipo">
                        <option value="ambos">Ambos</option>
                        <option value="mainframe">Mainframe</option>
                        <option value="distribuida">Distribuída</option>
                        <option value="outros">Outros</option>
                    </select>

                    <button type="submit" value="submit" class="btn btn-primary mt-2">Salvar</button>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-warning mt-2" role="alert">
                            Erro ao criar Sigla: @Html.ValidationMessage("Error")
                        </div>
                    }
                </div>
            }


        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        function CopiarEdicao(id) {
            var sigla = {};  

            if (id != "" && id != undefined) {
                var itemUpdate = $(".row[data-id='" + id + "']");

                sigla.Id = id;
                sigla.CodSigla = itemUpdate.find("span[data-codsigla]").data("codsigla");
                sigla.Tipo = itemUpdate.find("span[data-tipo]").data("tipo");

                //popula campos
                $("input[name='Id']").val(sigla.Id);
                $("input[name='CodSigla']").val(sigla.CodSigla);
                $("select[name='Tipo']").val(sigla.Tipo);
            }                  
        }
        
    </script>

}

